---
---
<!doctype html>
<html>
<body style="background: black; color: white;">
<table>
    <tr>
        <th>device</td>
        <th>BIOS</td>
        <th>HVM</th>
        <th>IOMMU</th>
        <th>TPM</th>
        <th>Qubes version</th>
        <th>Xen version</th>
        <th>dom0 kernel</th>
        <th>remarks</th>
        <th>reported by</th>
    </tr>

    {% for entry in site.data.hcl %}
        {% assign rowspan = entry.versions | size %}
        {% assign range = rowspan | minus:1 %}

        {% if rowspan > 1 %}
            {% capture rowspan %} rowspan="{{ rowspan }}"{% endcapture %}
        {% endif %}

        <tr>
            <td{{ rowspan }}>
                {{ entry.brand }} {{ entry.model }}<br/>
                ({{ entry.cpu-short }} {{ entry.chipset-short }}
                    {{ entry.gpu-short }})
            </td>
            <td{{ rowspan }}>{{ entry.bios }}</td>

            {% assign param=entry.hvm %}
            {% include hcl-cell.html param=param rowspan=rowspan %}

            {% assign param=entry.iommu %}
            {% include hcl-cell.html param=param rowspan=rowspan %}

            {% assign param=entry.tpm %}
            {% include hcl-cell.html param=param rowspan=rowspan %}

        {% assign version = entry.versions[0] %}
        {% include hcl-version.html version=version %}
        </tr>

        {% for i in (1..range) %}
            <tr>
                {% assign version = entry.versions[i] %}
                {% include hcl-version.html version=version %}
            </tr>
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>

<!--
vim: ts=4 sw=4 et
-->
